* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Roboto";
}
body {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgb(49, 49, 49);
}
.instagram {
  width: 375px;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}
.instagram header {
  position: fixed;
}
.instagram main {
  margin-top: 45px;
  margin-bottom: 90px;
}
.main_top {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.main_stories {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.main_stories div {
  margin: 5px 7.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_stories div p {
  font-size: 11px;
  font-weight: 800;
  margin-top: 5px;
}
.instagram footer {
  position: fixed;
  bottom: -4px;
}
.footer_navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0 20px;
}
.footer_button {
  margin: 0;
}
.main_posts {
  margin-top: 20px;
}
.user_img {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #df20b5, #fed237) border-box;
  border-radius: 50%;
  border: 3px solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #10a87d;
  padding: 2px;
  cursor: pointer;
}
.stories_img {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #df20b5, #fed237) border-box;
  border-radius: 50%;
  border: 3px solid transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #10a87d;
  padding: 2px;
  cursor: pointer;
}
.post_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.post_user {
  display: flex;
  align-items: center;
}
.user_name {
  font-size: 14px;
  font-weight: 800;
}
.user_description {
  font-weight: 400;
  font-size: 11px;
}
.post_user div {
  margin-left: 5px;
}
.post {
  margin-top: 30px;
}
.post:first-child {
  margin-top: 0px;
}
.post_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.post_img {
  margin-top: 5px;
}
.post_description {
  padding: 0 15px;
}
.post_likes {
  font-weight: 800;
  font-size: 15px;
}
.post_caption {
  font-weight: 400;
  font-size: 15px;
}
.perfil_img {
  width: 75px;
  height: 75px;
}
.storie_page {
  width: 375px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  background-image: url("https://source.unsplash.com/375x700/?");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 100;
  display: none;
  transition: all 400ms ease;
}
.storie_bot{
  position: fixed;
  bottom: -4px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  padding: 30px 20px;
  z-index: 1;
}
.storie_bot input{
  background: none;
  border: 1px solid white;
  width: 240px;
  height: 35px;
  border-radius: 32px;
  color: white;
  padding: 0 20px;
}
.storie_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.storie_top_user{
  display: flex;
  align-items: center;
}
.storie_top_user img{
  width: 54px;
  height: 54px;
}
.storie_top_user div p{
  color: white
}
.storie_top_user div p:first-child{
  font-weight: 800;
  font-size: 14px;
}
.storie_top_user div p:last-child{
  font-weight: 400;
  font-size: 11px;
}
.storie_quant{
  display: flex;
  justify-content: center;
  align-items: center;
}
.storie_top_close:hover{
  cursor: pointer;
}